// Font Mixins
@mixin bodytext($size, $family, $color, $height) {
    font-size: $size;
    font-family: $family;
    color: $color;
    line-height: $height;
}

// Element transition
@mixin objecttransition($property, $effect, $durations) {
    transition: $property, $effect, $durations;
    -webkit-transition: $property, $effect, $durations;
    -moz-transition: $property, $effect, $durations;
    -ms-transition: $property, $effect, $durations;
    -o-transition: $property, $effect, $durations;
}

// Circle Line icons
@mixin circleLine() {
    width: 16px;
    height: 16px;
    border: solid 1px #fff;
    background-color: #888;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    position: relative;
    &:after {
        content: '';
        height: 1px;
        background: $white;
        width: 14px;
        display: block;
        position: absolute;
        top: 45%;
        right: -7px;
    }
}