<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Somaiya Groups - HOME</title>
    <!-- <link rel="shortcut icon" type="image/ico" href="assets/images/favicon.ico" /> -->
    <!-- <link rel="manifest" href="manifest.json"> -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <link rel="stylesheet" type="text/css" href="../../../assets/somaiya_com/css/style.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox-plus-jquery.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg jumbtron-bg-new" id="home-all-new">
            <div class="container container-xl container-lg container-md container-sm">
                <div class="flex-grow-1 d-flex justify-content-between">
                    <a href="<?=base_url().$lang?>" class="navbar-brand"><img src="/assets/somaiya_com/img/logo.png" alt="SOmaiya Trust Logo" /></a>
                    <button class="navbar-toggler" id="MobileMenu">
                        <img src="/assets/somaiya_com/img/hamburger.svg" alt="hamburger"/>
                     </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-content">
                    <div class="closeMobileMenu" id="parentCLose">
                        <img src="/assets/somaiya_com/img/close.svg" alt="close" />
                    </div>
                    <ul class="navbar-nav">
                        <!--  id="Lhome-menu" -->
                        <li class="nav-item" id="Lhome-menu">
                            <a class="nav-link noSubmenu" href="<?=base_url().$lang?>/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="imageWrapper">
                                    <img src="/assets/somaiya_com/img/menuicons/home.svg" alt="menu item" />
                                    <!-- <img src="<?=base_url()?>assets/default_asset/img/social/home-red.svg" alt="" class="homehvrimg"/> -->
                                </div>
                                Home
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-item" href="javascript:void(0)" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                                <div class="imageWrapper">
                                    <img alt="menu item" src="/assets/somaiya_com/img/menuicons/verticals.svg">
                                </div>
                                Verticals
                            </a>
                            <ul class="dropdown-menu shadow singleColumn">
                                <li class="closeMobileMenu submenu" id="">
                                    <img src="/assets/somaiya_com/img/close.svg" alt="close" />
                                </li>
                                <li><a class="dropdown-item" href="https://godavaribiorefineries.com/" target="_blank">Biorefining</a></li>
                                <li><a class="dropdown-item" href="https://godavaribiorefineries.com/" target="_blank">Biofuels and Energy</a></li>
                                <li><a class="dropdown-item" href="https://godavaribiorefineries.com/chemical" target="_blank">Chemicals</a></li>
                                <li><a class="dropdown-item" href="https://www.sathgenbiotech.com/" target="_blank">Drug Discovery</a></li>
                                <li><a class="dropdown-item" href="https://kiaar.org/en" target="_blank">Agricultural Research</a></li>
                                <li><a class="dropdown-item" href="https://www.kisankhazana.com/" target="_blank">Farm and Farmer Services</a></li>
                                <li><a class="dropdown-item" href="https://godavaribiorefineries.com/our-brand-jivana" target="_blank">Food</a></li>
                                <li class="nav-item dropdown dropend ">
                                    <a id="multilevelDropdownMenu1 " data-bs-toggle="dropdown " aria-haspopup="true " aria-expanded="false " class="dropdown-item dropdown-item dropdown-toggle " href="javascript:void(0);">
                                     Education</a>
                                    <ul class="dropdown-menu " aria-labelledby="multilevelDropdownMenu2 ">
                                        <li class="closeMobileMenu" id="level2">
                                            <img src="/assets/somaiya_com/img/close.svg" alt="close" />
                                        </li>
                                        <li><a class="dropdown-item " href="http://somaiya.edu.in/" target="_blank">Somaiya Vidyavihar</a></li>
                                        <li><a class="dropdown-item " href="http://somaiya.edu/" target="_blank">Somaiya Vidyavihar University</a></li>
                                        <li><a class="dropdown-item " href="https://www.somaiya-ayurvihar.org/en/education" target="_blank">Somaiya Ayurvihar</a></li>
                                        <li><a class="dropdown-item " href="http://nareshwadi.org/" target="_blank">Nareshwadi Learning Center</a></li>
                                        <li><a class="dropdown-item " href="https://www.somaiya-kalavidya.org/" target="_blank">Somaiya Kala Vidya</a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item " href="http://somaiya-ayurvihar.org/" target="_blank">Healthcare</a></li>
                                <li><a class="dropdown-item " href="http://kitabkhana.in/" target="_blank">Bookshops</a></li>
                                <li><a class="dropdown-item " href="http://riidl.org/" target="_blank">Incubation</a></li>
                                <li><a class="dropdown-item " href="http://www.madhubanresort.com/" target="_blank">Eco-Tourism</a></li>
                                <li><a class="dropdown-item " href="https://www.nareshwadi.org/en" target="_blank">Tribal Development</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown dropdown-mega position-static ">
                            <a class="nav-link " href="javascript:void(0)" data-bs-toggle="dropdown " data-bs-auto-close="outside ">
                                <div class="imageWrapper ">
                                    <img alt="menu item " src="/assets/somaiya_com/img/menuicons/business.svg ">
                                </div>
                                Business
                            </a>
                            <div class="dropdown-menu shadow ">
                                <div class="closeMobileMenu submenu" id="">
                                    <img src="/assets/somaiya_com/img/close.svg" alt="close" />
                                </div>
                                <div class="mega-content px-4 ">
                                    <div class="container-fluid ">
                                        <div class="row ">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 ">
                                                <img alt="menu item " class=" w-100 " src="../../../assets/somaiya_com/img/brands-menu.png ">
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 float-start menuCOntent ">
                                                <h2>
                                                    <span class="menutitle ">
                                                     <span class="headingIcons "></span> Our Companies / Business Divisions
                                                    </span>
                                                </h2>
                                                <ul>
                                                    <li>
                                                        <a href="<?=base_url().$lang?>/our-companies-and-business-divisions#Biorefineries" target="_blank" aria-label="Godavari Biorefineries open in new tab">Godavari
                                    Biorefineries Limited</a>
                                                    </li>
                                                    <li>
                                                        <a href="<?=base_url().$lang?>/our-companies-and-business-divisions#Kitab-Khana" target="_blank" aria-lable="KitabKhana open in new tab">KitabKhana</a>
                                                    </li>
                                                    <li>
                                                        <a href="<?=base_url().$lang?>/our-companies-and-business-divisions#Madhuban-Resort" target="_blank" aria-lable="Madhuban Resort open in new tab">Madhuban Resort</a>
                                                    </li>
                                                    <li>
                                                        <a href="<?=base_url().$lang?>/our-companies-and-business-divisions#Sathgen" target="_blank" aria-label="Satgen open in new tab">Sathgen Biotech </a>
                                                    </li>
                                                    <li>
                                                        <a href="<?=base_url().$lang?>/our-companies-and-business-divisions#Solar-Magic" target="_blank" aria-label="Solar Magic Private Limited open in new tab">Solar Magic Private Limited </a>
                                                    </li>
                                                    <li>
                                                        <a href="<?=base_url().$lang?>/our-companies-and-business-divisions#Kisan-Khazana" target="_blank" aria-label="KisanKhazana open in new tab">KisanKhazana</a>
                                                    </li>
                                                    <li>
                                                        <a href="<?=base_url().$lang?>/our-companies-and-business-divisions#riidl" target="_blank" aria-label="riidl open in new tab">riidl</a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 float-start menuCOntent">
                                                <h2>
                                                    <span class="menutitle">
                                                     <span class="headingIcons"></span>Brands
                                                    </span>
                                                </h2>
                                                <ul>
                                                    <li>
                                                        <a href="<?=base_url().$lang?>/our-brands#Jivana" target="_blank" aria-label="Jivana open in new tab">
                                                         Jivana</a>
                                                    </li>
                                                    <li>
                                                        <a href="<?=base_url().$lang?>/our-brands#Paavan" target="_blank" aria-label="Paawan open in new tab">Paavan</a>
                                                    </li>
                                                    <li>
                                                        <a href="<?=base_url().$lang?>/our-brands#Bhumilabh" target="_blank" aria-label="Bhumi Labh open in new tab">Bhumilabh</a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown dropdown-mega position-static">
                            <a class="nav-link active" aria-current="page" href="javascript:void(0)">
                                <div class="imageWrapper">
                                    <img alt="menu item" src="/assets/somaiya_com/img/menuicons/community.svg">
                                </div>
                                Community
                            </a>

                            <div class="dropdown-menu shadow">
                                <div class="closeMobileMenu submenu" id="">
                                    <img src="/assets/somaiya_com/img/close.svg" alt="close" />
                                </div>
                                <div class="mega-content px-4">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <!-- <div class="col-12 col-sm-4 col-md-4">
                                                 <img alt="menu item" class=" w-100" src="/assets/somaiya_com/img/verticals/campus.png">
                                             </div> -->
                                            <div class="col-12 col-sm-12 col-md-12 px-5 menuCOntent">
                                                <div class="col-12 col-sm-12  col-md-12 col-lg-4  float-start">
                                                    <h2>
                                                        <span class="menutitle">
                                                             <span class="headingIcons"></span> Our Institutions
                                                        </span>
                                                    </h2>

                                                    <ul>
                                                        <li>
                                                            <a href="<?=base_url().$lang?>/our-institutions#Somaiya-VV" target="_blank" aria-label="Somaiya Vidyavihar open in new tab">Somaiya Vidyavihar</a>
                                                        </li>
                                                        <li>
                                                            <a href="<?=base_url().$lang?>/our-institutions#SVU" target="_blank" aria-lable="Somaiya Vidyavihar University open in new tab">Somaiya Vidyavihar University</a>
                                                        </li>
                                                        <li>
                                                            <a href="<?=base_url().$lang?>/our-institutions#Ayurvihar" target="_blank" aria-label="Somaiya Ayurvihar open in new tab">Somaiya Ayurvihar </a>
                                                        </li>
                                                        <li>
                                                            <a href="<?=base_url().$lang?>/our-institutions#Somaiya-hospital" target="_blank" aria-label="K J Somaiya Hospital open in new tab">K J Somaiya Hospital</a>
                                                        </li>
                                                        <li>
                                                            <a href="<?=base_url().$lang?>/our-institutions#Girivanvasi" target="_blank" aria-label="Girivanvasi Pragati Mandal open in new tab">Girivanvasi Pragati Mandal</a>
                                                        </li>
                                                        <li>
                                                            <a href="<?=base_url().$lang?>/our-institutions#Kala-Vidya" target="_blank" aria-label="Somaiya Kala Vidya open in new tab">Somaiya Kala Vidya</a>
                                                        </li>
                                                        <li>
                                                            <a href="<?=base_url().$lang?>/our-institutions#Nareshwadi-LC" target="_blank" aria-label="Nareshwadi School open in new tab">Nareshwadi School</a>
                                                        </li>

                                                    </ul>
                                                </div>
                                                <div class="col-12 col-sm-12  col-md-12 col-lg-8 float-start">
                                                    <h2>
                                                        <span class="menutitle">
                                                             <span class="headingIcons"></span>
                                                        <a href="http://somaiya.edu/">Social Initiatives</a>
                                                        </span>
                                                    </h2>
                                                    <div class="col-12 col-sm-12 float-start">
                                                        <div class="row">
                                                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 float-start customheading">
                                                                <span class="d-block "><a href="https://www.somaiya.edu.in/en/colleges/" target="_blank" aria-label="Education "> Education</a></span>
                                                                <ul>
                                                                    <li>
                                                                        <a href="http://somaiya.edu/" target="_blank" aria-label="University Education open in new tab">
                                                                             University Education</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.somaiya.edu.in/en/colleges/#pane-Cs" target="_blank" aria-label="Junior Colleges open in new tab">Junior Colleges</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://iti.somaiya.edu.in/en" target="_blank" aria-label="Vocational Education open in new tab">Vocational Education</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="http://somaiya-kalavidya.org/" target="_blank" aria-label="Crafts and Design open in new tab">Crafts and Design</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.somaiya.edu.in/en/schools/" target="_blank" aria-label="Schools open in new tab">Schools</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#" target="_blank" aria-label="Libraries">Libraries</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://museum.somaiya.edu/search/simple" target="_blank" aria-label="Somaiya Museum">Somaiya Museum</a>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 float-start customheading">
                                                                <span class="d-block "><a href="http://kiaar.org/" target="_blank" aria-label="Agricultural Research">Agricultural Research</a></span>

                                                                <span class="d-block "><a href="http://somaiya-ayurvihar.org/" target="_blank" aria-label="Healthcare ">Healthcare</a></span>
                                                                <ul>
                                                                    <li>
                                                                        <a href="http://somaiya-ayurvihar.org/" target="_blank" aria-label="Libraries">Hospital</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://ayurveda.somaiya-ayurvihar.org/en" target="_blank" aria-label="Ayurveda">Ayurveda</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://physio.somaiya-ayurvihar.org/en" target="_blank" aria-label="Physiotherapy">Physiotherapy</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://bloodbank.somaiya-ayurvihar.org/en" target="_blank" aria-label="Blood Bank">Blood Bank</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 float-start customheading">
                                                                <span class="d-block "><a href="http://nareshwadi.org/" target="_blank" aria-label="Tribal Development"> Tribal Development</a></span>
                                                                <span class="d-block ">
                                                                   <a href="#" target="_blank" aria-label="Community Outreach">
                                                                      Community Outreach</a></span>
                                                                <ul>
                                                                    <li>
                                                                        <a href="https://godavaribiorefineries.com/early_childhood_education_preschool" target="_blank" aria-label="Anganwadi">Anganwadi</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://godavaribiorefineries.com/csr-livelihood" target="_blank" aria-label="Tailoring">Tailoring</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.somaiya-ayurvihar.org/en/about-us/community" target="_blank" aria-label="SAHAS">SAHAS</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.somaiya.edu/en/community-support/" target="_blank" aria-label="Jetvan">Jetvan</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="http://helpachild.org/" target="_blank" aria-label="Help a Child">Help a Child</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://museum.somaiya.edu/search/simple" target="_blank" aria-label="Somaiya Museum">Somaiya Museum</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-4 float-start customheading">
                                                                <span class="d-block "><a href="http://nareshwadi.org/" target="_blank" aria-label="Tribal Development"> Tribal Development</a></span>
                                                            </div> -->
                                                            <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-4 float-start customheading">
                                                                <span class="d-block "><a href="http://kiaar.org/" target="_blank" aria-label="Agricultural Research">Agricultural Research</a></span>
                                                            </div> -->
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                                <div class="imageWrapper">
                                    <img alt="menu item" src="/assets/somaiya_com/img/menuicons/aboutus.svg">
                                </div>
                                About us
                            </a>
                            <ul class="dropdown-menu shadow singleColumn">
                                <li class="closeMobileMenu submenu" id="">
                                    <img src="/assets/somaiya_com/img/close.svg" alt="close" />
                                </li>
                                <li><a class="dropdown-item" href="/en/about-us">About the Group</a></li>
                                <li><a class="dropdown-item" href="/en/philanthropy">Philanthropy</a></li>
                                <li><a class="dropdown-item" href="/en/timeline">Timeline</a></li>
                            </ul>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link noSubmenu" href="<?=base_url().$lang?>#latest-news" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="imageWrapper">
                                    <img alt="menu item" src="/assets/somaiya_com/img/menuicons/news.svg">
                                </div>
                                News
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section class="founderPage BannerSections founderpageBanners position-relative" data-aos="fade-up">
            <div class="d-none d-sm-block">
                <img alt="Banner Section" class="w-100 kj" src="/assets/somaiya_com/img/founders/KJSomaiyaBanner.png" /> 
                <img alt="Banner Section" class="w-100 sk" src="/assets/somaiya_com/img/founders/SKSOmaiyaBanenr.png" />
            </div>
              <div class="d-block d-sm-none">
                <img alt="Banner Section" class="w-100 kj" src="/assets/somaiya_com/img/founders/kj-mob.png" /> 
                <img alt="Banner Section" class="w-100 sk" src="/assets/somaiya_com/img/founders/sk-mob.png" />
            </div>
            <div class="bannerText container">
                <div class="titlePatch">
                    <h1>Our Founder</h1>
                    <ul class="siteBreadCrum">
                        <li><a href="/en">Home</a></li>
                        <li class="divider"><img alt="BreadCrumb Arrow" src="/assets/somaiya_com/img/breadcrumArrow.svg" /></li>
                        <li>Our Founders</li>
                    </ul>
                </div>
            </div>
       </section>
       <section class="founderTabs" data-aos="fade-up" data-aos-delay="50">
          <div class="container">
             <div class="tabsWrapper">
                <ul class="nav nav-tabs float-end" id="FOunder" role="tablist">
                   <li class="nav-item" role="presentation"><a aria-controls="home" aria-selected="true" class="nav-link active" data-bs-target="#KJ" data-bs-toggle="tab" href="#KJ" id="KJ-link" role="tab">Shri. K. J. Somaiya</a></li>
                   <li class="nav-item" role="presentation"><a aria-controls="profile" aria-selected="false" class="nav-link" data-bs-target="#SK" data-bs-toggle="tab" href="#SK" id="SK-link" role="tab">Dr. S. K. Somaiya</a></li>
                </ul>
                <div class="clearfix">&nbsp;</div>
                <div class="tab-content " id="FOunderContent">
                   <div aria-labelledby="KJ-tab" class="tab-pane fade show active " id="KJ" role="tabpanel">
                      <div class="row mx-0 ">
                         <div class="col-12 col-sm-12 col-md-4 col-lg-3 founderPics"><img alt="Banner Section" class="w-100" src="/assets/somaiya_com/img/founders/kjsomaiya.png" /></div>
                         <div class="col-12 col-sm-12 col-md-8 col-lg-9 founderContent">
                            <!-- <h2>Shri. K. J. Somaiya</h2> --><!-- <span>Padma Bhushan </span> -->
                            <p>It&#39;s no small achievement to distinguish oneself in such diverse fields as commerce, education, and philanthropy. Pujya Shriman Karamshibhai Jethabhai Somaiya, born on May 16 1902 in the remote village of Malunjar in Ahmednagar district of Maharashtra, India, was however, a blessed person by dint of hard work and singular devotion to service.</p>
                            <p>Born to humble beginnings he rose to become one of the doyens of the industry in Western India. The young Karamshi, after completing school at the New High School in Mumbai (now the Bharda School) went back to his hometown in Ahmednagar embarking on a career of tireless work marked by singular devotion to whatever he did. Karamshi&rsquo;s young, fresh mind was moulded by Gandhiji&#39;s ideas of &#39;Swadeshi&#39; and &#39;Satyagraha&#39;.</p>
                            <p>Young Karamshibhai Somaiya began his career by engaging in his father&#39;s small grocery business and then went on to become a partner in a leading sugar trading firm in the area while continuing to nurture his dream of contributing to the creation of a resurgent India &ndash; a vision painted by Mahatma Gandhi and Swami Vivekananda.</p>
                            <p>In the year 1939, Shri K. J. Somaiya launched 2 sugar factories &ndash; in Sakarwadi and in Lakshmiwadi to mark the launch of his own sugar business. He soon came to be known as the Sugar King of India.</p>
                            <p>At the age of 60 he relinquished the leadership of his economic enterprise to his son Dr Shantilal Somaiya, and fully immersed himself in social service. He was committed to the ideal &quot;what you receive from society give back multifold&quot;. No sketch of Shri K.J. Somaiya can be complete without mentioning his philanthropy. You can read more about it under the Outreach section of this website.</p>
                            <p>Shri K.J. Somaiya was warm and endearing. Stately in appearance, immaculately dressed, generally in spotless white hand spun khadi, he exuded a picture of resourcefulness and restraint. He was compassionate and reached out to those in suffering. In all he did, Karamshibhai brought a sense of love and humanism, qualities imbibed in his early youth from the teachings of Mahatma Gandhi. He believed in the ancient Sanskrit saying (na manushit paro dharmah). &quot;There is no religion greater than Man&quot;. Karamshibhai&#39;s life exemplified this lofty principle through practice.</p>
                            <p>Shri Karamshibhai Somaiya passed away on May 9, 1999, a week before his 97th birthday. Somaiya Vidyavihar is the living legacy he has left behind, a standing monument to his sagacity, perseverance and foresight.</p>
                            <div class="readOnline">
                               <div class="row mx-auto">
                                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0">
                                     <p>Read his biography online:</p>
                                  </div>
                                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0"><a href="https://svv-public-data.s3.ap-south-1.amazonaws.com/KJ+SOMAIYA.pdf" target="_blank">Biography of Padma Bhushan Karamshi Jethabhai Somaiya by Raja Mangalvedekar </a></div>
                                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0">
                                     <p>Download e-book here:</p>
                                  </div>
                                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0">
                                     <a href="https://svv-public-data.s3.ap-south-1.amazonaws.com/KJ+SOMAIYA.pdf" target="_blank"><img alt="PDF Icons" src="/assets/somaiya_com/img/founders/pdficons.svg" /> </a> <!-- <a href="https://somaiya.com/sites/default/files/Padma%20Bhushan%20Karamshi%20Jethabhai%20Somaiya%20Jeevangatha%20-%20Raja%20Mangalvedhekar.epub" target="_blank"> <img alt="epub Icons" src="/assets/somaiya_com/img/founders/epub.svg" /> </a> <a download="" href="https://somaiya.com/sites/default/files/Padma%20Bhushan%20Karamshi%20Jethabhai%20Somaiya%20Jeevangatha%20-%20Raja%20Mangalvedhekar.mobi" target="_blank"> <img alt="PDF Icons" class="mobi" src="/assets/somaiya_com/img/founders/mobi.svg" /> </a> -->
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div aria-labelledby="profile-tab" class="tab-pane fade" id="SK" role="tabpanel">
                      <div class="row mx-0">
                         <div class="col-12 col-sm-12 col-md-4 col-lg-3 float-start founderPics"><img alt="Banner Section" class="w-100" src="/assets/somaiya_com/img/founders/sksomaiya.png" /></div>
                         <div class="col-12 col-sm-12 col-md-8 col-lg-9 float-start founderContent">
                            <!-- <h2>DR. S. K. Somaiya</h2> -->
                            <p>Dr. Somaiya did much in the field of sugarcane research, sugar manufacture and ethanol, and ethanol based chemistry. His contribution to the company was the identification of the site for sugar production in Karnataka, at Sameerwadi, in the late 1960s. At the time, there was very little cane grown there. He founded the K. J. Somaiya Institute of Applied Agriculture Research (KIAAR), and taught the farmers of the area how to grow cane. Today, North Karnataka, is among the best cane growing areas of India.</p>
                            <p>He also visualized that Sameerwadi should be capable of crushing 10,000 tons per day, in a time when average mill sizes were 1,500. Even today, India has only a handful of Mills (Sameerwadi one of them), that have capacities exceeding 10,000 tons per day.</p>
                            <p>Dr. Somaiya was awarded a honorary Ph. D. by The University of Agriculture Science at Dharwad, for his outstanding Contribution to the growth of prosperity in the area.</p>
                            <p>Dr. Somaiya also pioneered the production of ethanol from molasses in the 1950s, in a time when molasses was a waste disposal problem. In the early 1960s, he pioneered the use of ethanol as a feedstock for industrial chemicals. It is only now, in the face of rising energy and petrochemical costs, that the world is revisiting the use of renewable chemistry.</p>
                            <p>He was also a believer in the power of the sugar industry, to bring about social as well as financial prosperity. He continuously tried to create new social programs to benefit the rural population. His last program, &lsquo;Ankur&rsquo;, was to try and eradicate blindness caused by the deficiency of Vitamin A in the diet. This he tried to do by establishing a partnership between the National Association for the Blind (NAB), and various sugar mills.</p>
                            <p>He led the Somaiya Trust and was the Vice President of Somaiya Vidyavihar. He presided over very rapid asset creation at Vidyavihar, and also conceptualized the Sanskritivihar. These institutions would teach courses on Indian philosophy, religion, and bring values into the curriculum. The K. J. Somaiya Bharatiya Sanskriti Peetham, K. J. Somaiya Institute of Buddhist Studies, K. J. Somaiya Jain Centre, are all parts of this organic whole.</p>
                            <p>Through these institutions, he also brought people of diverse backgrounds together. He organized programs on inter religious dialogue with the Vatican, and was invited by the President of Kazakhstan for discussions on the Islamic religion.</p>
                            <p>Dr. Somaiya passed away on the 1st of January, in Melbourne Australia, where he had gone to deliver a speech at the Parliament of Religions.</p>
                            <p>He was a worthy successor to the tradition set by our founder, and also set a new and expanded course, for both, Godavari, and the Somaiya Trust.</p>
                            <p>He has left behind a wonderful vision of an integrated development, whether in business, education religion, or philosophy. One that engages, rather than divides, and encompasses all, reflecting the true spirit of our heritage and tradition.</p>
                            <div class="readOnline">
                               <div class="row mx-auto">
                                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0">
                                     <p>Read his biography online:</p>
                                  </div>
                                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0"><a href="https://somaiya-vidyavihar.s3.ap-south-1.amazonaws.com/history/Dr-Shantilal-K-Somaiya-E-Book(Marathi+Version).pdf" target="_blank">Sharing Wisdom in Search of Inner and Outer Peace &ndash; Speeches Delivered by Dr. Shantilal K. Somaiya </a></div>
                                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0">
                                     <p>Download e-book here:</p>
                                  </div>
                                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0">
                                     <a href="https://somaiya-vidyavihar.s3.ap-south-1.amazonaws.com/history/Dr-Shantilal-K-Somaiya-E-Book(Marathi+Version).pdf" target="_blank"><img alt="PDF Icons" src="/assets/somaiya_com/img/founders/pdficons.svg" /> </a> <!-- <a href="https://somaiya.com/sites/default/files/Sharing%20Wisdom%20in%20Search%20of%20Inner%20and%20Outer%20Peace-Dr.Shantilal_K_Somaiya.epub" target="_blank"> <img alt="epub Icons" src="/assets/somaiya_com/img/founders/epub.svg" /> </a> <a href="https://somaiya.com/sites/default/files/Sharing%20Wisdom%20in%20Search%20of%20Inner%20and%20Outer%20Peace%20-%20Dr.%20Shantilal%20K%20Somaiya.mobi" target="_blank"> <img alt="PDF Icons" class="mobi" src="/assets/somaiya_com/img/founders/mobi.svg" /> </a> -->
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </section>
    </main>

    <footer data-aos="fade-up" data-aos-delay="50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 footLeft ">
                    <div class="row">
                        <div class="trustLOgo col-12 col-sm-12 col-md-4 col-lg-4">
                            <a href="#"><img src="/assets/somaiya_com/img/logo.png" alt="SOmaiya Trust Logo" /></a>
                            <div class="address">
                                <h4><span>Address</span></h4>
                                <div class="markerWrap"><img src="/assets/somaiya_com/img/navigations.svg" alt="marker" /></div>
                                <p class="pl-sm-3">Somaiya Bhavan, <br/> 45-47, Mahatma Gandhi Road, <br/> Post Box No. 384, Fort, <br/> Mumbai 400 001. India. </p>
                            </div>
                        </div>
                        <div class="footMenu col-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="mainMenu">
                                <h4><span>About Us</span></h4>
                                <ul class="p-0 footeritems">
                                    <li>
                                        <a class="footer-item" href="/en/about-us">About the Group</a>
                                    </li>
                                    <li>
                                        <a class="footer-item" href="/en/philanthropy">Philanthropy</a>
                                    </li>
                                    <li>
                                        <a class="footer-item" href="/en/timeline">Timeline</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mainMenu">
                                <h4><span><a href="<?=base_url().$lang?>#latest-news">News</a></span></h4>
                            </div>
                        </div>
                        <div class="socialMeida  col-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="mainMenu">
                                <h4><span>Follow US</span></h4>
                            </div>
                            <ul class="m-0 p-0">
                                <li class="d-inline-block">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="d-inline-block">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="d-inline-block">
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="d-inline-block">
                                    <a href="#">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 creditpatch text-center">
            <div class="container">
                <span class="credits d-block">&copy;2021 Somaiya Group</span>
            </div>
        </div>
    </footer>


    <script>
        $(document).ready(function() {
            var hash = document.location.hash;
            if (hash) {
                $('html,body').animate({
                    scrollTop: $(hash).offset().top
                }, 'slow');
            }
        });
    </script>

    <script type="text/javascript" src="../../../assets/somaiya_com/js/custom.min.js"></script>
    <script>
        $(document).ready(function() {
            var hash = document.location.hash;
            if (hash) {
                $('html,body').animate({
                    scrollTop: $(hash).offset().top
                }, 'slow');
            }
        });
    </script>
</body>

</html>